:root {
    --ff-figtree: 'Figtree', serif;

    --fs-300: 0.825rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    
    --fw-normal: 500;
    --fw-bold: 800;
    
    --c-yellow: hsl(47, 88%, 63%);
    --c-white: hsl(0, 0%, 100%);
    --c-gray-500: hsl(0, 0%, 42%);
    --c-gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-figtree);
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    color: var(--c-gray-950);
    background-color: var(--c-yellow);
}

main {
    max-width: 375px;
    margin: 5rem auto;
}

.card {
    display: grid;
    gap: 1.5rem;
    background-color: var(--c-white);
    padding: 1.5rem;
    border-radius: 16px;
    border: 1px solid #000;
    box-shadow: 8px 8px var(--c-gray-950);
}

.cover-image {
    display: block;
    width: 100%;
    border-radius: 12px;
}

.category {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    border-radius: 6px;
    background-color: var(--c-yellow);
    padding: .375rem .75rem;
}

.publish-date {
    font-size: var(--fs-300);
    margin-block: 1.5rem;
}

.title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    cursor: pointer;
}

.title:hover {
    color: var(--c-yellow);
}

.text {
    font-size: var(--fs-400);
    line-height: 1.4;
    color: var(--c-gray-500);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author img {
    width: 32px;
    height: 32px;
}

.author p {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}

@media (max-width: 400px) {
    main {
        padding: 1.5rem;
    }

    .title {
        font-size: var(--fs-500);
    }

    .text,
    .author p {
        font-size: var(--fs-300);
    }
}